In [7]:
from __future__ import division
from __future__ import print_function

import pandas
from sklearn.feature_extraction.text import CountVectorizer

# Setup text df of text

In [8]:
corpus_dict = {1: 'This is the first document.',
          2: 'This is the second second document.',
          3: 'And the third one.',
          4: 'Is this the first document?'}

df = pandas.DataFrame(corpus_dict.items(), columns=['id', 'text'])
print(df.shape)

(4, 2)

In [9]:
print(df)

   id                                 text
0   1          This is the first document.
1   2  This is the second second document.
2   3                   And the third one.
3   4          Is this the first document?

In [16]:
len(df.index)

4

In [24]:
df.T

,0,1,2,3
id,1,2,3,4
text,This is the first document.,This is the second second document.,And the third one.,Is this the first document?

In [25]:
df.T.to_dict()

{0: {'id': 1, 'text': 'This is the first document.'},
 1: {'id': 2, 'text': 'This is the second second document.'},
 2: {'id': 3, 'text': 'And the third one.'},
 3: {'id': 4, 'text': 'Is this the first document?'}}

In [26]:
df.T.to_dict().values()

[{'id': 1, 'text': 'This is the first document.'},
 {'id': 2, 'text': 'This is the second second document.'},
 {'id': 3, 'text': 'And the third one.'},
 {'id': 4, 'text': 'Is this the first document?'}]

In [19]:
p = df.T.to_dict().values()

[{'text': 'This is the first document.', 'id': 1}, {'text': 'This is the second second document.', 'id': 2}, {'text': 'And the third one.', 'id': 3}, {'text': 'Is this the first document?', 'id': 4}]

In [20]:
len(p)

4

In [27]:
# w/o transpose
df.to_dict()

{'id': {0: 1, 1: 2, 2: 3, 3: 4},
 'text': {0: 'This is the first document.',
  1: 'This is the second second document.',
  2: 'And the third one.',
  3: 'Is this the first document?'}}

In [28]:
df.to_dict().values()  # 1 dict per column

[{0: 'This is the first document.',
  1: 'This is the second second document.',
  2: 'And the third one.',
  3: 'Is this the first document?'},
 {0: 1, 1: 2, 2: 3, 3: 4}]

In [29]:
len(df.to_dict().values())

2